$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);

$White: hsl(0, 0%, 100%);
$Dark-desaturated: hsl(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-most-black: hsl(234, 17%, 12%);
$Top-Color: #2c2d45;
